.ql-container {
    margin-top: 5px;
  }
  
.AuthPanel {
    min-width: 300px;
  }
  
.AuthPanel .nav-tabs  
.login-tab  {
    color: rgb(43, 43, 43);
  }

.AuthPanel .nav-tabs  
.login-tab.active {
    color:rgb(3, 194, 178);
  }

.AuthPanel .nav-tabs  .login-tab:hover {
    color: rgb(124, 236, 227);
  }